@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 16px;
}

section {
    margin: 1rem auto;
}


/*search box start*/

.searchBox {
    background: #2f3640;
    border-radius: 40px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-width: 0px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.material-icons {
    font-size: 2rem !important;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}


/*search box start*/


/*search box start*/


/*animated text start*/

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blink-text-main {
    text-align: center;
    color: #aba1a1;
    font-size: 1.5rem;
}

.blink-text-sub {
    animation: blink 1s ease-in infinite;
}


/*nav bar stART*/

header {
    display: block;
    height: 150vh;
}

header img {
    height: 100%;
    width: 100%;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    transition: all 1s;
    z-index: 1;
}

.nav-list {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    padding-right: 40px;
    transition: 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.black {
    background: #000;
}

.nav-item {
    display: inline-block;
    padding: 11px 40px;
}

.nav-item:hover {
    background-color: rgb(230 217 217 / 50%);
    border-radius: 0.3rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {
    header {
        height: 100vh;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    .nav-list {
        max-height: 0px;
        background: #000;
        margin: 0;
    }
    .black {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    .nav-item {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-item:hover {
        background: transparent;
    }
    .menu-icon {
        display: block;
    }
}


/*NAV BAR END*/


/*accordion start */

.accordion {
    width: 100%;
    max-width: 1080px;
    height: 250px;
    overflow: hidden;
    margin: 50px auto;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    width: 16.666%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li div a {
    display: block;
    height: 250px;
    width: 100%;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
}

.accordion ul li div a p {
    top: 160px;
    font-size: 13.5px;
}

.accordion ul li:nth-child(1) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a1.jpg");
}

.accordion ul li:nth-child(2) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a2.jpg");
}

.accordion ul li:nth-child(3) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a3.jpg");
}

.accordion ul li:nth-child(4) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a4.jpg");
}

.accordion ul li:nth-child(5) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a5.jpg");
}

.accordion ul li:nth-child(6) {
    background-image: url("https://github.com/Argha-Nilanjon-Nondi/internship-css-animation/image/accordion/a6.jpg");
}

.accordion ul:hover li {
    width: 8%;
}

.accordion ul:hover li:hover {
    width: 60%;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .accordion {
        height: auto;
    }
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}

.about {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666;
}

.about a {
    color: blue;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}


/*accordion end*/


/*text hover start*/

.hover-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
}

.hover-box {
    padding: 2.7rem 3.3rem;
    margin: 0 auto;
    transition: all 0.7s;
}

.hover-box:nth-child(1) {
    background-color: aqua;
}

.hover-box:nth-child(2) {
    background-color: rgb(255, 145, 0);
}

.hover-box:nth-child(3) {
    background-color: rgb(229, 255, 0);
}

.hover-box p {
    color: white;
    font-size: 1.2rem;
}

.hover-box:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.hover-text {
    width: 70%;
    margin: 0 auto;
}


/*text hover end*/


/*blog post start*/

.blog-post-list {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.blog-post {
    height: 100%;
}

.post-text-box {
    padding: 1.5rem 1rem;
}

.text-box {
    width: 90%;
    margin: 0 auto;
    padding-left: 1rem;
    border-left: 10px solid black;
}

.text-box p {
    font-size: 1rem;
}

.post-box-1 {
    width: 90%;
    margin: 0 auto;
    padding-right: 1rem;
    border-right: 10px solid black;
}

.post-img {
    height: 30rem;
    padding: 1rem;
}

.post-img h1 {
    color: white;
    font-size: 1.4rem;
    text-align: left;
}

.post-img h4 {
    color: aquamarine;
    font-size: 0.9rem;
}


/*blog post end*/


/*food image end*/

.food-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: darkgreen;
    height: 100%;
}

.food-on-hover {
    font-family: 'Raleway', Arial, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    width: 93%;
    height: 89%;
    background: #000000;
    text-align: left;
}

.food-on-hover img {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.35s;
}

.food-on-hover figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
}

.food-on-hover {}

.food-on-hover figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    transition-delay: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.food-on-hover h2,
.food-on-hover p {
    margin: 0 0 5px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

.food-on-hover h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    transform: translate3d(30%, 0%, 0);
    transition-delay: 0.3s;
}

.food-on-hover h2 span {
    font-weight: 800;
}

.food-on-hover p {
    font-weight: 200;
    transform: translate3d(0%, 30%, 0);
    transition-delay: 0s;
}

.food-on-hover a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

.food-on-hover:hover img {
    opacity: 0.3;
}

.food-on-hover:hover figcaption h2 {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
    transition-delay: 0.4s;
}

.food-on-hover:hover figcaption p {
    opacity: 0.9;
    transform: translate3d(0%, 0%, 0);
    transition-delay: 0.6s;
}

.food-on-hover:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    transition-delay: 0s;
}


/*food image end*/


/*pricing box end*/

.price-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.price-card:last-child {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.price-card:first-child {
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.price-card {
    border: 2px solid rgb(223, 214, 214);
    width: 20rem;
}

.price-card:hover {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transform: scaleY(1.02);
}

.price-card:hover .price-up {
    background-image: linear-gradient(to top, white 30%, rgb(239 231 231) 20%);
}

.price-up {
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, white 30%, rgb(245 236 236) 20%);
}

.price-up h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    margin: 2rem 0;
    color: rgb(103 95 95 / 43%);
}

.price-borderout {
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
    background-color: white;
    border-radius: 100%;
    width: 10rem;
    margin: auto auto;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price-borderin {
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 15px;
    border-radius: 100%;
    width: 79%;
    margin: auto auto;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price-borderin h3 {
    text-align: center;
    color: rgb(207, 197, 197);
    text-align: center;
    color: rgb(169 155 155);
    font-size: 2.5rem;
}

.price-down {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.price-down button {
    border-width: 0px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(11, 228, 29);
    padding: 0.5rem 1.5rem;
    margin: 1.5rem auto;
}

.price-down hr {
    color: grey;
}

.price-down p {
    color: black;
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem 0;
}


/*pricing box end*/


/*footer start*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(95, 95, 90);
    padding: 4rem 0;
    position: relative;
    z-index: 1;
}

.footer-btn-list {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}


/* Icons */

.footer-link {
    color: #fff;
    background: #DB6E82;
    border-radius: 44px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-top: 12px;
    margin: 0 12px;
    transition: all .5s;
    vertical-align: middle;
    font-size: 34px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-link:hover {
    background: #ef92a3;
    position: relative;
}


/* pop-up text */

.footer-link-caption {
    width: 7rem;
    color: #666;
    position: relative;
    font-family: sans-serif;
    bottom: 0;
    padding: 5px 7px;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1.4rem;
}


/* pop-up text arrow */

.footer-link-caption:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 50%;
}


/* text pops up when icon is in hover state */

.footer-link:hover .footer-link-caption {
    bottom: 89px;
    visibility: visible;
    opacity: 1;
}


/* font awesome icons */

.footer-link-caption:nth-of-type(3) {
    color: red;
}

.footer-link-caption:nth-of-type(4) {
    color: black;
}

.footer-link-caption:nth-of-type(5) {
    color: orange;
}

.footer-link-caption:nth-of-type(6) {
    color: black;
}

.footer-link:nth-of-type(1):before {
    content: '\f09a';
}

.footer-link:nth-of-type(2):before {
    content: '\f099';
}

.footer-link:nth-of-type(3):before {
    content: '\f0d5';
}

.footer-link:nth-of-type(4):before {
    content: '\f113';
}

.footer-link:nth-of-type(5):before {
    content: '\f17d';
}

.footer-link:nth-of-type(6):before {
    content: '\f1cb';
}

footer h3 {
    font-size: 2rem;
    color: white;
    text-align: center;
}


/*footer end*/

@media only screen and (max-width: 1100px) {
    .navbar-collapse {
        position: absolute;
        top: 4rem;
    }
    .hover-collection {
        flex-direction: column;
    }
    .price-holder {
        display: grid;
        grid-template-columns: 20rem 20rem;
        align-items: center;
        justify-content: center;
    }
    .price-card {
        margin-top: 0.6rem;
    }
    .blog-post-list {
        grid-template-columns: 1fr;
    }
    .price-card:last-child {
        border-radius: 0rem;
    }
    .price-card:first-child {
        border-radius: 0rem;
    }
    .food-div {
        height: 32rem;
    }
    .footer-link {
        height: 18px;
        width: 18px;
        font-size: 23px;
    }
    footer h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width:700px) {
    .price-holder {
        display: grid;
        grid-template-columns: 20rem;
        align-items: center;
        justify-content: center;
    }
    .price-card {
        margin-top: 0.6rem;
    }
}